@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: black;
}

.container .head{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 11;
    padding: 5px;
}

#opt{
    padding: 8px;
    position: relative;
    left: 450px;
    bottom: 11px;
    color: white;
    background-color: black;
    font-size: 1rem;

}
#sign{
    position: relative;
    right: 60px;
    bottom: 11px;
    text-decoration: none;
    color: white;
    background-color: red;
    padding: 8px 18px;
    border-radius: 4px;
}

.banner .box .search input{
    font-size: 16px;
    border: 1px solid #8c8c8c;
    outline: none;
    border-radius: 1px;
    padding: 10px 10px 10px 10px;
    min-width: 469px;
    height: 70px;
    align-items: center;
    color: black;
}

.banner .box .search a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 1px;
    background-color: #e50914;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    font-size: 1.625rem;
    line-height: 60px;
    min-width: 200px;
    padding: 5px 30px;
}

#logo{
    width: 15%;
    position: relative;
    left: 25px;
    bottom: 13px;
}

.banner{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 0.6rem solid #111;
}

.banner::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to bottom,#000,transparent);
}

.banner::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 400px;
    z-index: 1;
    background: linear-gradient(to top,#000,transparent);
}

.banner .fit{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner .box{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
}

.banner .box .heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .box .heading h2{
    font-size: 3.8rem;
    color: white;
    letter-spacing: 2px;
    width: 80%;
}

.banner .box .heading h5{
    font-size: 1.625rem;
    color: white;
    font-weight: 400;
    padding: 1rem 0;
}

.banner .box .heading p{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    padding: 15px 0;
    padding-bottom: 20px;
}

.banner .box .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.part1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.part1 .talk{
    width: 40%;
}

.part1 .talk h1{
    font-size: 3.3rem;
    letter-spacing: 1px;
    padding-bottom: 18px;
    color: white;
}

.part1 .talk p{
    font-size: 1.8rem;
    color: white;
}

.part1 .img1{
    width: 45%;
}

.part1 .img1 img{
    width: 100%;
}

.part2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 0.6rem solid #111;
}

.part2 .talk{
    width: 40%;
}

.part2 .talk h1{
    font-size: 3.3rem;
    letter-spacing: 1px;
    padding-bottom: 18px;
    color: white;
}

.part2 .talk p{
    font-size: 1.8rem;
    color: white;
}

.part2 .img1{
    width: 45%;
}

.part2 .img1 img{
    width: 100%;
}



.freq{
    padding: 70px 180px;
    color: white;
    border-bottom: 0.6rem solid rgb(17,17,17);
}

.freq h1{
    text-align: center;
    font-size: 47px;
    margin-bottom: 50px;
}

.freq .question button{
    width: 71%;
    position: relative;
    left: 158px;
    text-align: left;
    padding: 27px 44px 4px 24px;
    font-weight: 500;
    font-size: 27px;
    margin-bottom: 10px;
    background: #303030;
    outline: none;
    border: none;
    color: #fff;
}

.freq .question button span{
    float: right;
    font-size: 40px;
    cursor: pointer;
}

.freq .question .faq-answer{
    width: 71%;
    position: relative;
    left: 158px;
    height: auto;
    padding: 30px 40px;
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: -8px;
    color: white;
    background: #303030;
    text-align: left
}

.freq .question.faq-answer span{
    transform: scaleY(1.2);
    letter-spacing: 0.06em;
}

.closed{
    display: none;
}

.rotate{
    transform: rotate(45deg);
}

.question .box2 .search2 input{
    font-size: 16px;
    border: 1px solid #8c8c8c;
    outline: none;
    border-radius: 1px;
    padding: 10px 10px 10px 10px;
    min-width: 515px;
    height: 70px;
    align-items: center;
    color: black;
}

.question .box2 .search2 a{
    text-decoration: none;
    color: white;
    font-weight: 400;
    letter-spacing: 0.1px;
    border-radius: 1px;
    background-color: #e50914;
    box-shadow: 0 1px 0 rgba(0,0,0,0.45);
    font-size: 1.625rem;
    line-height: 60px;
    min-width: 200px;
    padding: 5px 30px;
}

.heading2{
    display: flex;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 20px;
    font-size: 20px;
}

.search2{
    display: flex;
    justify-content: center;
}

.call{
        color: #757575;
        font-size: 16px;
        letter-spacing: 1px;
        margin: 75px 0px 30px 295px;
    }

.call a{
    text-decoration: none;
    color: #757575;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0px 170px 30px 111px;
    padding: 0px 82px 8px 50px;
}

.info .one .items li{
    list-style: none;
    padding: 10px 10px 10px 10px;
    margin: 0 20px 0px 90px;
    font-size: 13px;
}

.info .one .items li a{
    color: #757575;
    text-decoration: none;
}

#option{
    color: #757575;
    background: black;
    border: 1px solid rgb(250, 242, 210);
    border-radius: 4px;
    font-size: 20px;
    padding: 15px 0px 15px 40px;
    position: relative;
    left: 300px;
    top: -5px;
}

.netf p{
    color: #757575;
    font-size: 15px;
    margin: 25px 300px;
}

.call a:hover{
    text-decoration: underline;
}

.info .one .items li a:hover{
    text-decoration: underline;
}

.c1{
    display: flex;
    flex-direction: row;
}

.c2{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 350px){
    
    .banner{
        width: 235%;
        height: 165vh;
        position: relative;
        border-bottom: 0.4rem solid #111;
    }

    .heading{
        position: static;
    }

    #logo{
        position: static;
        width: 80%;
    }

    #opt{
        left: 11rem;
        padding: 5px;
        bottom: 0px;
        top: 1rem;
    }

    #sign{
        right: 0px;
        left: 12rem;
        bottom: 0px;
        top: 1.1rem;
        min-width: 85px;
    }

    .banner .box .heading h2{
        font-size: 2.5rem;
        letter-spacing: 1px;
        width: 100%;
    }

    .banner .box .heading p{
        font-size: 1.8rem;
    }

    .banner .box .search{
        position: static;
        flex-direction: column;
    }

    .banner .box .search input{
        height: 60px;
        min-width: 555px;
        margin: 15px;
    }

    .part1{
        flex-direction: column;
        width: 235%;
    }

    .part1 .talk {
        width: 78%;
    }

    .part1 .talk h1{
        font-size: 2.3rem;
    }

    .part1 .talk p {
        font-size: 1.3rem;
    }

    .part1 .img1 {
        width: 120%;
    }

    .part2{
        flex-direction: column-reverse;
        width: 235%;
    }

    .part2 .talk {
        width: 78%;
    }

    .part2 .talk h1{
        font-size: 2.3rem;
    }

    .part2 .talk p {
        font-size: 1.3rem;
    }

    .part2 .img1 {
        width: 120%;
    }

    .freq {
        padding: 50px 0px;
        width: 237%;
    }

    .freq h1 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 40px;
    }

    .freq .question button {
        width: 90%;
        left: 20px;
        font-size: 25px;
    }

    .freq .question .faq-answer {
        width: 90%;
        left: 20px;
    }

    .freq .question .box2 .heading2{
        text-align: center;
    }

    .question .box2 .search2 input{
        min-width: 360px;
        height: 60px;
    }

    .question .box2 .search2 a{
        font-size: 1.2rem;
        min-width: 0px;
        line-height: 50px;
    }

    .call {
        font-size: 11px;
        margin: 30px 0px 30px 50px;
    }
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 20px 10px 20px 40px;
        padding: 10px 10px 10px 10px;
    }

    .footer .info .c1{
        flex-direction: column;
    }

    .footer .info .c1 ul li{
        font-size: 9px;
    }

    .footer .info .c2{
        flex-direction: column;
    }

    .footer .info .c2 ul li{
        font-size: 11px;
    }

    #option{
        left: 60px;
    }

    .netf p{
        margin: 25px 65px;
    }

}

@media screen and (max-width:450px) and (min-width:350px){

    .banner{
        width: 235%;
        height: 165vh;
        position: relative;
        border-bottom: 0.4rem solid #111;
    }

    .heading{
        position: static;
    }

    #logo{
        position: static;
        width: 70%;
    }

    #opt{
        left: 11rem;
        padding: 5px;
        bottom: 0px;
        top: 1rem;
    }

    #sign{
        right: 0px;
        left: 12rem;
        bottom: 0px;
        top: 1.1rem;
        min-width: 90px;
    }

    .banner .box .heading h2{
        font-size: 2.5rem;
        letter-spacing: 1px;
        width: 100%;
    }

    .banner .box .heading p{
        font-size: 1.8rem;
    }

    .banner .box .search{
        position: static;
        flex-direction: column;
    }

    .banner .box .search input{
        height: 60px;
        min-width: 555px;
        margin: 15px;
    }

    .part1{
        flex-direction: column;
        width: 185%;
    }

    .part1 .talk {
        width: 78%;
    }

    .part1 .talk h1{
        font-size: 2.3rem;
    }

    .part1 .talk p {
        font-size: 1.3rem;
    }

    .part1 .img1 {
        width: 120%;
    }

    .part2{
        flex-direction: column-reverse;
        width: 185%;
    }

    .part2 .talk {
        width: 78%;
    }

    .part2 .talk h1{
        font-size: 2.3rem;
    }

    .part2 .talk p {
        font-size: 1.3rem;
    }

    .part2 .img1 {
        width: 120%;
    }

    .freq {
        padding: 50px 0px;
        width: 190%;
    }

    .freq h1 {
        text-align: center;
        font-size: 35px;
        margin-bottom: 40px;
    }

    .freq .question button {
        width: 90%;
        left: 20px;
        font-size: 25px;
    }

    .freq .question .faq-answer {
        width: 90%;
        left: 20px;
    }

    .freq .question .box2 .heading2{
        text-align: center;
    }

    .question .box2 .search2 input{
        min-width: 360px;
        height: 60px;
    }

    .question .box2 .search2 a{
        font-size: 1.2rem;
        min-width: 0px;
        line-height: 50px;
    }

    .call {
        font-size: 11px;
        margin: 30px 0px 30px 50px;
    }
    .info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 20px 10px 20px 40px;
        padding: 10px 10px 10px 10px;
    }

    .footer .info .c1{
        flex-direction: column;
    }

    .footer .info .c1 ul li{
        font-size: 9px;
    }

    .footer .info .c2{
        flex-direction: column;
    }

    .footer .info .c2 ul li{
        font-size: 11px;
    }

    #option{
        left: 60px;
    }

    .netf p{
        margin: 25px 65px;
    }



}